/**** main content div responsiveness ****/
@media (max-width: 1150px) {
    .mainContentContainer{
        position: relative;
    }
}
@media (max-width: 1000px) {
    .mainContentContainer {
        width: 100%;
    }
    .mainText {
        width: 75%;
    }
}

@media (max-width: 600px){
    .mainContentContainer {
        width: 100%;
    }
    .mainText {
        width: 100%;
    }
}

/**** side panel responsiveness ****/
@media (max-width: 550px) {
    .sidePanel {
        height: fit-content; /*this releases the height to infinitely stretch, that way the content automatically arranges*/
    }
}