@font-face {
    font-family: Dongle;
    src: url('Dongle-Regular.ttf');
}
body{
    background-color:floralwhite !important;
}
div{
    border: 1px dashed black;
}
h1{
    font-family: Dongle;
}

.mainText{
    border-radius: 5px;
    height: fit-content;
}
.downloadBt{
    width: 150px;
}
.sidePanel{
    background-color: #fff;
    height: 918px;
    width: 510px;
}
    .sidePanelSection{
        height: 20%;
    }