:root{
    --hover-box-shadow: 0 0px 4px 0 #7e7e7e;
}
@font-face {
    /* main font of the app */
    font-family: Dongle;
    src: url('Dongle-Regular.ttf');
}
/* ************** generic styles ************** */
body{
    display: flex; /*the page's body is a flexbox container*/
    justify-content: space-between;
    flex-wrap: wrap;
    /* background: linear-gradient(to right, #CAEAFF 40%, #ffcccc); **original bg, it's here just as a backup** */
    font-family: Dongle !important; /*it is !important to override bootstrap's shit*/
    font-size: 20px !important;

    /* frozen glass code*/
    background-image: url(backgrounds/abstract2.png);
    background-repeat: initial;
    background-size: cover;
    background-attachment: fixed;
}
h1, h2{
    font-family: Dongle;
}
button:hover{ 
    box-shadow: var(--hover-box-shadow);
}
a {
    text-decoration: none !important;
}

/* ************** specific styles ************** */
.mainContentContainer{
    width: 50%;
    position: sticky;
    top: 0%;
}
.mainText{
    border-radius: 5px;
    background-color: #fff;
    min-height: 400px;
    width: 75%;
    min-width: 290px;
    height: fit-content;
    font-size: 40px;
}
.domain-notice{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color: rgb(208, 211, 61);
}
.downloadBt{
    width: 120px;
    background-color: #508b22;
    color: #efefef;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}
.info{
    cursor: pointer;
}
.sidePanel{
    min-height: 925px;
    width: 510px;
    border-radius: 15px;
    
    /* frosted glass background code*/
    background: inherit;
    backdrop-filter: blur(70px);
    position: relative;
    overflow: hidden;
}
.sidePanel::before {
    position: absolute;
    content: '';
    background: inherit;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    filter: blur(70px);
    border-radius: 15px;
  }
    .sidePanelSection{
        height: 25%;
        padding: 5px;
        position: relative;
    }
    /* .sidePanelSection:not(.backgroundColorSection){
        /* all sections except the background 
        color one have bigger padding 
        to prevent it from getting to big
        padding: 15px;
    } */
    .backgroundColorSection{
        padding-bottom: 15px;
    }
    .fontTypeSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat (3, 1fr);
        justify-items: center;
        height: fit-content;
        grid-template-areas: "header header header";
    }
        .fontTypeSection h2 {
            grid-area: header;
        }
        .fontTypeBt{
            width: 120px;
            height: 35px;
            max-height: fit-content;
            margin: 10px 10px;
            /* font-size: 95%; */
            border: none;
            border-radius: 5px;
            background-color: white;
        }
    .fontSizeSection{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        grid-template-areas: "header header header header";
    }
        .fontSizeSection h2{
            grid-area: header;
        }
        .fontSizeBt{
            width: 65px;
            max-height: 38px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
        }
        .fontSizeBtSmall{
            font-size: medium;
        }
        .fontSizeBtNormal{
            font-size: large;
        }
        .fontSizeBtLarge{
            font-size: x-large;
        }
        .fontSizeBtLarger{
            font-size: x-large;
        }
        
        .backgroundColorBt, .fontColorBt{
            margin: 5px 5px;
            border: none;
            border-radius: 50%;
            height: 55px;
            width: 55px;
        }
        .cornerCurveBt{
            width: 65px;
            font-size: 100%;
            max-height: 32px;
            margin: 5px 5px;
            border: none;
            background-color: #fff;
        }
        .textStyleBt{
            width: 130px;
            font-size: 30px;
            margin: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: #fff;
        }
        .colorButtonActive{
            border: 4px solid rgba(55, 55, 230, 0.582);
        }

/* info overlay */
.infoOverlay, .domainNoticeOverlay {
    position: fixed; /* mantener la posición fija todo el tiempo */
    display: none; /* escondido hasta ser invocado */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    background-color: rgba(0,0,0,0.5); /* fondo negro opaco */
    z-index: 2; /* aparecer encima del resto de los elementos */
    }
    .infoOverlayContent, .domainNoticeOverlayContent {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        width: 40%;
        min-width: 275px;
        max-height: 70%;
        overflow-y: scroll;
        padding: 25px;
        background-color: #fff;
        border-radius: 5px;
        }

/* change text type utilitary classes */
.textShadow{
    text-shadow: #cccaca 0px 5px 5px;
}
.smallCapsText{
    font-variant: small-caps;
}

/* ********************************** */
/**** main content div responsiveness ****/
@media (max-width: 1150px) {
    .mainContentContainer{
        position: relative;
    }
}
@media (max-width: 1070px) {
    .mainContentContainer {
        width: 100%;
    }
    .mainText {
        width: 75%;
    }
    .fontTypeSection {
        display: initial;
    }
        
}
@media (max-width: 600px){
    .mainContentContainer {
        width: 100%;
    }
    .mainText {
        width: 100%;
    }
}

/**** side panel responsiveness ****/
@media (max-width: 550px) {
    .sidePanel {
        height: fit-content; /*this releases the height to infinitely stretch, that way the content automatically arranges*/
    }
}
/* ********************************** */
@font-face {
    font-family: CalibriExternal;
    src: url(fonts/Calibri\ Regular.ttf);
}
.font1{
    font-family: CalibriExternal;
}
@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}
.font2{
    font-family: Montserrat;
    /* font-size: 18px; */
}
@font-face {
    font-family: CourierPrime;
    src: url(fonts/CourierPrime-Regular.ttf);
}
.font3{
    font-family: CourierPrime;
    /* font-size: 17px; */
}
@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}
.font4{
    font-family: DancingScript;
}
@font-face {
    font-family: Tangerine;
    src: url(fonts/Tangerine-Regular.ttf);
}
.font5{
    font-family: Tangerine;
    font-size: 25px;
}
@font-face {
    font-family: Playfair;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
.font6{
    font-family: Playfair;
}
@font-face {
    font-family: Gluten;
    src: url(fonts/Gluten-VariableFont_wght.ttf);
}
.font7{
    font-family: Gluten;
}
@font-face {
    font-family: Creepster;
    src: url(/fonts/Creepster-Regular.ttf);
}
.font8{
    font-family: Creepster;
}
/* @font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
} */
.font9{
    font-family: Dongle;
    font-size: 25px;
}
/* ********************************** */